/* Root styles for the stopwatch */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('sw3.webp'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    overflow: hidden; 
}

/* stopwatch container styles */
.stopwatch-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-end;     
    height: 100vh; 
}

/* Styles for the time display */
.time {
    font-size: 36px;
    color: whitesmoke; 
    margin-bottom: 10px; 
}

/* Styles for the units [hr, min, sec] */
.units {
    display: flex; 
    gap: 20px; 
    color: whitesmoke; 
}

/* control buttons */
.controls {
    display: flex; 
    gap: 10px; 
    margin-bottom: 5%;
}

.control {
    font-size: 18px; 
    padding: 10px 20px; 
    cursor: pointer; 
}

/* animation for control buttons */
.control:hover {
    box-shadow: 0 0 3px 3px white; 
}

/* Styles for the "Start" button */
#start {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
}

/* Styles for the "Stop" button */
#stop {
    background-color: #F44336; 
    color: white; 
    border: none; 
}

/* Styles for the "Reset" button */
#reset {
    background-color: #008CBA; 
    color: white; 
    border: none; 
}